{% extends 'bases/base2.html' %}
{% load static %}
{% block titulo %} Iniciar Sesión {% endblock %}
{% block contenido %}




<div class="min-h-screen text-gray-900 flex justify-center">
  <div class="max-w-screen-xl m-0 sm:m-10 shadow sm:rounded-lg flex justify-center flex-1">
      <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
          <div>
              <img src="{% static 'img/logo2.png' %}"
                  class="w-48 mx-auto" />
          </div>
          <div class="mt-12 flex flex-col items-center">
              <h1 class="text-2xl xl:text-3xl font-extrabold">
                  Inicia sesión
              </h1>
              <div class="w-full flex-1 mt-8">
                  <div class="flex flex-col items-center">

                      <a  href="{% url 'registro' %}"
                          class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline mt-5">
                          <div class="bg-white p-1 rounded-full">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                            <circle cx="8.5" cy="7" r="4" />
                            <path d="M20 8v6M23 11h-6" />
                        </svg>
                          </div>
                          <span class="ml-4">
                              Crea una cuenta, si no tienes
                          </span>
                     </a>
                  </div>

                  <div class="my-12 border-b text-center">
                      <div
                          class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">
                         Usuario y contraseña
                      </div>
                  </div>

                  <div class="mx-auto max-w-xs">
                    <form method="POST" action="{% url 'loginn' %}" id="login-form">
                      {% csrf_token %}
                      <div id="error-message" class="alert alert-danger" role="alert" style="display: none; color: red;">
                        {{ error|escapejs }}
                      </div>
             
                      <!-- Otros campos del formulario -->

                      <div class="reset-pass">
                      </div>
              
                      <input
                          class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                          type="text" name="username" placeholder="Usuario" />
                      <input
                          class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
                          type="password" name="password" placeholder="Contraseña" />
                      <button type="submit"
                          class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                          <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round">
                              <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                              <circle cx="8.5" cy="7" r="4" />
                              <path d="M20 8v6M23 11h-6" />
                          </svg>
                          <span class="ml-3">
                              Iniciar
                          </span>
                      </button>
                    </form>
                      <p class="mt-6 text-xs text-gray-600 text-center">
                          I agree to abide by templatana's
                          <a href="#" class="border-b border-gray-500 border-dotted">
                              Terms of Service
                          </a>
                          <!-- and its
                          <a href="#" class="border-b border-gray-500 border-dotted">
                              Privacy Policy
                          </a>
                      </p> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
          <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat">
            <img src="{% static 'img/draw1.svg' %}" alt="">     
          </div>

      </div>
  </div>
</div>

  <script>
    $(document).ready(function () {
      $("#login-form").submit(function (e) {
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          success: function (response) {
            if (response.success) {
              // Redirige al usuario a la página de inicio si el inicio de sesión fue exitoso
              window.location.href = "{% url 'home' %}";
            } else {
              // Muestra el mensaje de error
              $("#error-message").text("Usuario o contraseña incorrectos ").show();
            }
          },
          error: function (xhr, textStatus, errorThrown) {
            console.log(xhr.responseText);
          }
        });
      });
    });
  </script>


{% endblock %}