.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  /* Media query para dispositivos con un ancho máximo de 768px (tablets y móviles) */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      /* Cambiar a una sola columna */
      align-items: center;
    }
  }

  /* Estilos para las tablas */
  table {
    width: calc(100% / 3 - 20px);
    /* Ajustar el ancho para mantener tres tablas alineadas */
    margin-bottom: 20px;
    /* Agregar un poco de espacio entre tablas */
  }

  /* Media query para dispositivos con un ancho máximo de 768px (tablets y móviles) */
  @media screen and (max-width: 768px) {
    table {
      width: 100%;
      /* Establecer el ancho completo en dispositivos más pequeños */
    }
  }