{% extends "bases/base.html" %}
{% load static %}
{% block titulo %}{% endblock %}

{% block contenido %}


{% include "bases/section.html" %}
{% block section_content %}
<div class="max-w-screen-lg mx-auto p-5">
    <div class="grid grid-cols-1 md:grid-cols-12 border">
        <div class="bg-gray-900 md:col-span-4 p-10 text-white">
            <p class="mt-4 text-sm leading-7 font-regular uppercase">
                Recordatorios
            </p>
            <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight">
                Comeinza <span class="text-indigo-600">Ya</span>
            </h3>
            <p class="mt-4 leading-7 text-gray-200">
                Recuerda que debes crear al menos una actividad para poder crear tu estudio
            </p>

            <div class="flex items-center mt-5">
                <svg class="h-6 mr-2 text-indigo-600" fill="currentColor" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.536 489.536"
                    xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 489.536 489.536">
                    <g>
                        <g>
                            <path
                                d="m488.554,476l-99-280.2c-1-4.2-5.2-7.3-9.4-7.3h-45.6c12.9-31.1 19.6-54.9 19.6-70.8 0-64.6-50-117.7-112.5-117.7-61.5,0-112.5,52.1-112.5,117.7 0,17.6 8.2,43.1 19.9,70.8h-39.7c-4.2,0-8.3,3.1-9.4,7.3l-99,280.2c-3.2,10.3 6.3,13.5 9.4,13.5h468.8c4.2,0.5 12.5-4.2 9.4-13.5zm-246.9-455.3c51,1.06581e-14 91.7,43.7 91.7,96.9 0,56.5-79.2,182.3-91.7,203.1-31.3-53.1-91.7-161.5-91.7-203.1 0-53.1 40.6-96.9 91.7-96.9zm-216.7,448l91.7-259.4h41.7c29.9,64.1 83.3,151 83.3,151s81.4-145.7 83.8-151h47.4l91.7,259.4h-439.6z">
                            </path>
                            <rect width="136.5" x="177.054" y="379.1" height="20.8"></rect>
                            <path
                                d="m289.554,108.2c0-26-21.9-47.9-47.9-47.9s-47.9,21.9-47.9,47.9 20.8,47.9 47.9,47.9c27.1,0 47.9-21.8 47.9-47.9zm-75-1c0-14.6 11.5-27.1 27.1-27.1s27.1,12.5 27.1,27.1-11.5,27.1-27.1,27.1c-14.6,2.84217e-14-27.1-12.5-27.1-27.1z">
                            </path>
                        </g>
                    </g>
                </svg>
                <span class="text-sm">Tienes que crear tus registro en la pestaña "Personalizar categoria"</span>
            </div>
            <div class="flex items-center mt-5">

            </div>
            <div class="flex items-center mt-5">

            </div>

        </div>

        <form method="post" action="{% url 'crear_estudio_con_actividades' %}" id="estudio-form" class="md:col-span-8 p-10">
            {% csrf_token %}
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Nombre del estudio
                    </label>
                    <input
                        name="nombre" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="estudio" type="text" placeholder="Estudio de matematicas" required>
                    <!-- <p class="text-red-500 text-xs italic" required>Please fill out this field.</p> -->
                </div>

            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-password">
                        Fecha
                    </label>
                    <input
                         name="fecha" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                         id="grid-email" type="date" required>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-password">
                        máquina
                    </label>
                    <select name="maquina" id
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-email">
                        {% for m in maquina %}
                        <option value="{{ m.id_maquina }}">{{ m.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-password">
                        area
                    </label>
                    <select name="area" id="estudio_area"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-email">
                        {% for a in area %}
                        <option value="{{ a.id }}">{{ a.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-password">
                        Descripción del estudio
                    </label>
                    <textarea rows="10" name="descripcion"
                     id="estudio_descripcion" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </div>

                <div class="flex justify-start w-full px-3 space-x-4">
                    <input
                        class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                        type="submit" value="Crear estudio">
                    <button
                        id="crear-actividad-btn" class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
                        type="button">
                        Crear actividad
                    </button>
                </div>
                

            </div>

        </form>

    </div>
</div>



{% endblock %}
<!-- modal para crear las actividades -->
{% include "bases/section.html" %}
{% block modal %}

<div id="actividad-form-container" class="fixed inset-0 z-50 flex items-center justify-center hidden">
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6">
        <!-- Botón "x" para cerrar -->
        <button id="cerrar-actividad-btn" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
            ✖
        </button>
        <!-- Formulario -->
        <form id="actividad-form" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="actividad_nombre" class="block text-sm font-medium text-gray-700">Nombre de la Actividad:</label>
                <input type="text" name="nombre" id="actividad_nombre" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div>
                <label for="actividad_descripcion" class="block text-sm font-medium text-gray-700">Descripción de la actividad:</label>
                <textarea name="descripcion" id="actividad_descripcion" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required></textarea>
            </div>
            <div>
                <label for="actividad_tipo" class="block text-sm font-medium text-gray-700">Tipo de actividad</label>
                <select name="tipo" id="actividad_tipo" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                    {% for t in tipo %}
                    <option value="{{ t.id_tipo }}">{{ t.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="actividad_color" class="block text-sm font-medium text-gray-700">Color:</label>
                <input type="color" name="color" id="actividad_color" class="mt-1 block w-full h-10 p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="text-center">
                <input type="submit" value="Crear Actividad" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% include 'bases/section.html' %}
{% block tabla %}

<h1 class="flex justify-center text-black text-bold ">Actividades creadas</h1>
<div class="max-w-screen-lg mx-auto p-5"> 
<div class="overflow-x-auto rounded-lg border border-black shadow-md mt-4 d-flex justify-content-center align-items-center">
    <table class="min-w-full divide-y divide-black bg-white text-sm" id="actividades-table">
      <thead class="bg-gray-50">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider border-b border-black">Número</th>
          <th class="whitespace-nowrap px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider border-b border-black">Nombre de la Actividad</th>
          <th class="whitespace-nowrap px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider border-b border-black">Tipo de Actividad</th>
          <th class="whitespace-nowrap px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider border-b border-black">Acciones</th>
        </tr>
      </thead>
      <tbody id="actividades-list" class="divide-y divide-black">
        <!-- Las filas de actividades se agregarán aquí dinámicamente con JavaScript -->
      </tbody>
    </table>
  </div>
</div>
  
{% endblock %}





<script src="{% static 'js/mover.js' %}"></script>
<script src="{% static 'js/formulario.js' %}"></script>
{% endblock %}